/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== URL ======================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese");
* {
  padding: 0px;
  margin: 0px; }
  *:focus {
    outline: none; }

a {
  color: #334862;
  text-decoration: none;
  transition: all 0.25s; }
  a:hover {
    color: #000;
    text-decoration: none;
    transition: all 0.25s; }

button {
  transition: all 0.25s; }
  button:hover {
    transition: all 0.25s; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

select:focus, button:focus, input:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li,
ol li {
  list-style: none; }

p {
  margin: 0; }

h1 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h2 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h3 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h4 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h5 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h6 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clearfix {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 1080px; }

#main {
  padding-top: 30px;
  padding-bottom: 30px; }

.product_item {
  padding-bottom: 19.6px; }
  .product_item .product_image {
    height: 180px; }
    .product_item .product_image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .product_item .product_info {
    padding-top: .7em;
    padding-bottom: 1.4em;
    position: relative;
    width: 100%;
    font-size: .9em; }
    .product_item .product_info .product_name {
      margin-bottom: 5px; }
    .product_item .product_info .product_price .price {
      display: block; }
      .product_item .product_info .product_price .price .amount {
        color: #111;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap; }
    .product_item .product_info .product_btn_add a {
      background-color: transparent;
      border: 2px solid #446084;
      color: #446084;
      display: inline-block;
      font-size: .8em;
      font-weight: bolder;
      line-height: 2.19em;
      margin-top: 1em;
      padding: 0 1.2em;
      text-align: center;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s; }
      .product_item .product_info .product_btn_add a:hover {
        background-color: #446084;
        border-color: #446084;
        color: #fff; }

.price {
  line-height: 1; }

.product_price .amount,
.product_subtotal .amount {
  white-space: nowrap;
  color: #111;
  font-weight: bold; }

.product_qty {
  display: flex;
  align-items: center;
  margin: 1.3em 0; }

.control {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1rem; }
  .control input {
    border: 1px solid #e1e1e1;
    font-weight: bold;
    height: 40px;
    width: 2.5em;
    font-weight: normal;
    text-align: center;
    border-right: none;
    border-left: none;
    -moz-appearance: textfield; }
    .control input::-webkit-outer-spin-button, .control input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .control .qty_inc, .control .qty_dec {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border: 1px solid #e1e1e1;
    color: #666;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    text-transform: none;
    width: 21px; }
    .control .qty_inc:hover, .control .qty_dec:hover {
      background-color: #f1f1f1; }
    .control .qty_inc i, .control .qty_dec i {
      color: #666;
      font-size: .97em;
      font-weight: normal; }

.m_pagination {
  margin: 5px 0; }
  .m_pagination .page-item {
    margin: 0 .4em; }
    .m_pagination .page-item:last-child {
      margin-right: 0; }
      .m_pagination .page-item:last-child .page-link {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%; }
    .m_pagination .page-item .page-link {
      color: #777;
      font-size: 15px;
      display: block;
      width: 33px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      padding: 0 7px;
      font-weight: bolder;
      border-radius: 100%;
      border: 2px solid #5b5b5b; }
      .m_pagination .page-item .page-link:hover {
        border-color: #446084;
        background-color: #446084;
        color: #FFF; }
    .m_pagination .page-item.active {
      color: #FFF; }
      .m_pagination .page-item.active .page-link {
        border-color: #446084;
        background-color: #446084;
        color: #FFF; }
    .m_pagination .page-item:first-child .page-link {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%; }

.icn_payment {
  display: inline-block;
  opacity: .6;
  transition: opacity .3s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 0;
  padding: 3px 5px 5px;
  margin: 3px 3px 0; }
  .icn_payment svg {
    vertical-align: middle;
    height: 20px;
    width: auto !important;
    fill: #FFF; }

.td_scroll_up {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid #777;
  background-color: transparent;
  border-radius: 100%;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .td_scroll_up i {
    color: #777;
    display: block;
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 7px; }
  .td_scroll_up:hover {
    background-color: #446084;
    border-color: #446084; }
    .td_scroll_up:hover i {
      color: #FFF; }

.td_scroll_up_visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0); }

.m_breadcrumb {
  margin-bottom: 20px; }
  .m_breadcrumb .breadcrumb {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0; }
    .m_breadcrumb .breadcrumb-item {
      font-size: 14px; }
      .m_breadcrumb .breadcrumb-item a {
        color: rgba(102, 102, 102, 0.7); }
        .m_breadcrumb .breadcrumb-item a:hover {
          color: #111; }

.m_product__detail {
  margin-bottom: 40px; }
  .m_product__detail .product_gallery {
    position: relative; }
    .m_product__detail .product_gallery img {
      width: 100%; }
    .m_product__detail .product_gallery .expand {
      border-radius: 100%;
      border: 2px solid #777;
      bottom: 10px;
      color: silver;
      display: block;
      left: 10px;
      line-height: 2.19em;
      margin-left: .12em;
      margin-right: .12em;
      min-width: 2.5em;
      position: absolute;
      text-align: center;
      z-index: 9999; }
      .m_product__detail .product_gallery .expand i {
        font-size: 1.2em;
        position: relative;
        top: 2px; }
      .m_product__detail .product_gallery .expand:hover {
        background-color: #446084;
        border-color: #446084; }
        .m_product__detail .product_gallery .expand:hover i {
          color: #FFF; }
  .m_product__detail .product_info {
    padding-top: 10px; }
    .m_product__detail .product_info .name {
      color: #555;
      font-size: 1.7em;
      font-weight: 700;
      line-height: 1.3;
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: relative; }
      .m_product__detail .product_info .name:after {
        background-color: rgba(0, 0, 0, 0.1);
        content: '';
        display: block;
        height: 3px;
        width: 30px;
        position: absolute;
        bottom: 0; }
    .m_product__detail .product_info .price {
      color: #111;
      font-size: 1.5em;
      font-weight: bold;
      font-weight: bolder;
      margin: .5em 0;
      white-space: nowrap; }
      .m_product__detail .product_info .price .currencySymbol {
        display: inline-block;
        font-size: .75em;
        margin-top: .05em;
        vertical-align: top;
        text-decoration: underline; }
    .m_product__detail .product_info .btn {
      font-size: 1em;
      font-weight: bold;
      background-color: #006799;
      color: #fff;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 0;
      text-transform: uppercase; }
      .m_product__detail .product_info .btn:hover {
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }
    .m_product__detail .product_info .meta {
      font-size: .8em;
      margin-bottom: 1em; }
      .m_product__detail .product_info .meta .posted_in {
        border-top: 1px dotted #ddd;
        padding: 5px 0; }

.m_related__inner {
  border-top: 1px solid #ececec;
  overflow: hidden; }

.m_related__title {
  color: #323232;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase; }

.m_related .owl-carousel .owl-nav button.owl-prev, .m_related .owl-carousel .owl-nav button.owl-next {
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  background: #fff;
  border-radius: 100%;
  display: block;
  font-size: 20px;
  height: 100px;
  height: 40px;
  line-height: 100px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  margin-top: -70px; }
  .m_related .owl-carousel .owl-nav button.owl-prev:hover, .m_related .owl-carousel .owl-nav button.owl-next:hover {
    background-color: #446084;
    color: #FFF; }

.m_related .owl-carousel .owl-nav button.owl-prev {
  left: -50px; }

.m_related .owl-carousel .owl-nav button.owl-next {
  right: -50px; }

.m_related .owl-carousel:hover .owl-nav button.owl-prev, .m_related .owl-carousel:hover .owl-nav button.owl-next {
  opacity: 1;
  visibility: visible; }

.m_related .owl-carousel:hover .owl-nav button.owl-prev {
  left: 5px; }

.m_related .owl-carousel:hover .owl-nav button.owl-next {
  right: 5px; }

.m_switch__page .m_switch__item {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .m_switch__page .m_switch__item .m_switch__btn {
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #c0c0c0;
    color: #c0c0c0;
    display: block;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px; }
    .m_switch__page .m_switch__item .m_switch__btn:hover {
      background-color: #446084;
      border-color: #446084;
      color: #FFF; }
  .m_switch__page .m_switch__item .m_switch__img {
    border: 2px solid #ddd;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    left: -25px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    transition: opacity .25s;
    visibility: hidden;
    width: 90px; }
  .m_switch__page .m_switch__item:hover .m_switch__img {
    opacity: 1;
    visibility: visible; }

.cart {
  background-color: #5b5b5b; }
  .cart_body {
    margin: 60px auto 60px auto;
    height: 100%;
    max-width: 1000px; }
  .cart_inner {
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 15px 30px 15px;
    position: relative; }
  .cart_logo {
    border-bottom: 1px solid rgba(68, 96, 132, 0.1); }
  .cart_checkout {
    padding: 15px 0; }
    .cart_checkout ul {
      display: flex;
      justify-content: center; }
      .cart_checkout ul li + li {
        padding-left: .5rem; }
        .cart_checkout ul li + li::before {
          color: #6c757d;
          content: "\f105";
          font-family: FontAwesome;
          display: inline-block;
          padding-right: .5rem; }
      .cart_checkout ul li a {
        font-size: 16px; }
        .cart_checkout ul li a.disable {
          color: #ccc;
          pointer-events: none; }
  .cart_message, .cart_notices {
    margin: 0 0 10px; }
  .cart_items .table td, .cart_items .table th {
    vertical-align: middle; }
  .cart_items .table td {
    border-bottom: 1px solid #ececec;
    border-top: none;
    padding-left: 0;
    padding-right: 0; }
  .cart_items .table th {
    border-top: none;
    font-size: 14px;
    padding: 0 .3rem .3rem; }
  .cart_items .table tr:last-child td {
    border-bottom: none; }
  .cart_items .product_remove {
    width: 20px;
    position: relative; }
    .cart_items .product_remove a {
      display: block;
      width: 24px;
      height: 24px;
      font-size: 15px !important;
      line-height: 19px !important;
      border-radius: 100%;
      color: #ccc;
      font-weight: bold;
      text-align: center;
      border: 2px solid #ccc; }
      .cart_items .product_remove a:hover {
        border-color: #000;
        color: #000; }
  .cart_items .product_thumbnail {
    min-width: 60px;
    max-width: 90px;
    width: 90px;
    padding: .5em !important; }
  .cart_items .product_name {
    word-break: break-word;
    text-overflow: ellipsis; }
  .cart_totals .title {
    letter-spacing: .05em;
    line-height: 1.05;
    padding-bottom: .5rem;
    text-transform: uppercase;
    border-bottom: 3px solid #ececec;
    margin-bottom: .5rem;
    margin-top: 4px; }
  .cart_totals ul li {
    padding: .5em 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between; }
  .cart_totals .btn_proceed_checkout {
    margin-top: 1.5rem; }
    .cart_totals .btn_proceed_checkout a {
      background: #1185ca;
      border-radius: 3px;
      color: #fff;
      font-weight: bold;
      display: block;
      margin: 0 auto;
      max-width: 400px;
      text-transform: uppercase;
      padding: 7px 10px;
      text-align: center; }
      .cart_totals .btn_proceed_checkout a:hover {
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }
  .cart .return_to_shop {
    margin-top: 15px;
    text-align: center; }
    .cart .return_to_shop a {
      background-color: #446084;
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, 0.05);
      color: #FFF;
      cursor: pointer;
      display: inline-block;
      font-size: .97em;
      font-weight: bolder;
      letter-spacing: .03em;
      line-height: 2.4em;
      margin-bottom: 1em;
      text-align: center;
      text-transform: uppercase;
      min-height: 2.5em;
      padding: 0 1.2em;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s; }
      .cart .return_to_shop a:hover {
        outline: none;
        opacity: 1;
        color: #fff;
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }

.btn_continue_shopping a {
  background-color: transparent;
  border: 2px solid #446084;
  color: #446084;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .03em;
  line-height: 2.19em;
  padding: 0 1.2em;
  text-align: center;
  text-transform: uppercase; }
  .btn_continue_shopping a:hover {
    color: #fff;
    background-color: #446084;
    border-color: #446084; }

.m_checkout .m_form__billing .title {
  color: #555;
  font-size: 16px;
  overflow: hidden;
  font-weight: bolder;
  text-transform: uppercase;
  margin: .5rem 0; }

.m_checkout .m_form__billing .form-group label {
  color: #444;
  font-weight: bold;
  display: block;
  font-size: 1em;
  margin-bottom: 0.4em; }

.m_checkout .m_form__billing .form-group .form-control:not(textarea) {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 .75em;
  height: 2.507em;
  font-size: .97em;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: color .3s, border .3s, background .3s, opacity .3s; }

.m_checkout .m_detail__billing {
  -ms-flex: 1 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #446084;
  flex: 1 0 auto;
  padding: 15px 30px 30px;
  position: relative;
  width: 100%; }
  .m_checkout .m_detail__billing .title {
    color: #555;
    font-size: 16px;
    overflow: hidden;
    font-weight: bolder;
    text-transform: uppercase;
    margin: .5rem 0; }
  .m_checkout .m_detail__billing ul li {
    padding: .5em 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between; }
    .m_checkout .m_detail__billing ul li.head, .m_checkout .m_detail__billing ul li.bot {
      border-bottom-width: 2px; }
  .m_checkout .m_detail__billing .btn {
    background: #006799;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    display: block;
    max-width: 400px;
    text-transform: uppercase;
    padding: 7px 10px;
    text-align: center; }

.m_modal_login .modal-body {
  padding: 30px 20px; }

.m_form_login .title {
  color: #555;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .5em;
  text-transform: uppercase; }

.m_form_login .form-group .ttl {
  color: #444;
  font-weight: bold;
  display: block;
  font-size: 1em;
  margin-bottom: 0.4em; }

.m_form_login .form-group .form-control {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #333;
  font-size: .97em;
  height: 2.507em;
  max-width: 100%;
  padding: 0 .75em;
  transition: color .3s, border .3s, background .3s, opacity .3s;
  vertical-align: middle;
  width: 100%; }

.m_form_login .form-group .btn {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  background-color: #446084;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .03em; }
  .m_form_login .form-group .btn:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }

.m_menu_mobile.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  -webkit-backface-visibility: hidden; }
  .m_menu_mobile.active .m_menu_mobile_inner {
    left: 0;
    opacity: 1;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .m_menu_mobile.active .m_menu_mobile_close {
    display: block;
    opacity: 1; }

.m_menu_mobile .m_menu_mobile_inner {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.95);
  left: 0;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  -ms-transform: translateX(-270px);
  transform: translateX(-270px); }

.m_menu_mobile .m_menu_mobile_items li .m_menu_mobile_item {
  display: block;
  padding: 15px;
  letter-spacing: .02em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(102, 102, 102, 0.85);
  font-size: 13px;
  border-bottom: 1px solid #DDD; }

.m_menu_mobile .m_menu_mobile_items li:last-child a {
  border-bottom: none; }

.m_menu_mobile .m_menu_mobile_close {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  outline: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 40px; }

.m_menu_mobile_overlay.active,
.m_cart_mobile_overlay.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: .6;
  transition: opacity .25s; }

.m_cart_mobile.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  -webkit-backface-visibility: hidden; }
  .m_cart_mobile.active .m_cart_mobile_inner {
    right: 0;
    opacity: 1;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .m_cart_mobile.active .m_cart_mobile_close {
    display: block;
    opacity: 1; }

.m_cart_mobile .m_cart_mobile_inner {
  padding: 15px 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  -ms-transform: translateX(270px);
  transform: translateX(270px); }

.m_cart_mobile_title h4 {
  color: #555;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: .05em;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 10px; }
  .m_cart_mobile_title h4::after {
    background-color: rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    height: 2px;
    margin: 12px auto 0;
    width: 30px; }

.m_cart_mobile_message {
  font-size: 1rem; }

.m_cart_mobile .header_cart_item {
  background: transparent;
  border: none;
  box-shadow: none;
  display: block;
  min-width: unset;
  opacity: 1;
  padding: 0;
  position: relative;
  top: 0;
  width: auto; }
  .m_cart_mobile .header_cart_item::after {
    display: none; }

.m_cart_mobile .m_cart_mobile_items li .m_cart_mobile_item {
  display: block;
  padding: 15px;
  letter-spacing: .02em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(102, 102, 102, 0.85);
  font-size: 13px;
  border-bottom: 1px solid #DDD; }

.m_cart_mobile .m_cart_mobile_items li:last-child a {
  border-bottom: none; }

.m_cart_mobile .m_cart_mobile_close {
  background: transparent;
  border: none;
  color: #CCC;
  cursor: pointer;
  display: none;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0;
  outline: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 40px; }

.m_btn_booknow {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 8px 10px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1); }
  .m_btn_booknow .btn {
    background: #1185ca;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    text-align: center; }

/* Responsive */
.pc {
  display: block !important; }

.sp {
  display: none !important; }

.header {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color .3s, opacity .3s; }
  .header .sticky-wrapper.is-sticky .header_inner {
    background: #FFF;
    z-index: 9; }
  .header_inner {
    position: relative; }
    .header_inner_wrap {
      -js-display: flex;
      -ms-flex-align: center;
      -ms-flex-flow: row nowrap;
      -ms-flex-pack: justify;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid rgba(68, 96, 132, 0.1);
      margin-bottom: -1px; }
  .header_logo {
    width: 200px;
    margin-right: 30px; }
    .header_logo img {
      max-height: 100px; }
  .header_nav {
    margin-right: auto;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto; }
    .header_nav_main {
      width: 100%;
      position: relative;
      display: inline-block;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .header_nav_main li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        margin: 0 7px;
        transition: background-color .3s; }
        .header_nav_main li:first-child {
          margin-left: 0 !important; }
        .header_nav_main li a {
          -ms-flex-align: center;
          -ms-flex-wrap: wrap;
          align-items: center;
          color: rgba(102, 102, 102, 0.85);
          display: -ms-inline-flexbox;
          display: inline-block;
          display: inline-flex;
          flex-wrap: wrap;
          font-size: .9em;
          font-weight: 700;
          font-weight: bolder;
          letter-spacing: .02em;
          padding: 10px 0;
          text-transform: uppercase;
          transition: all .2s; }
        .header_nav_main li:hover a, .header_nav_main li.active a {
          color: rgba(17, 17, 17, 0.85); }
  .header_function_inner {
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center; }
  .header_function li {
    position: relative;
    margin: 0 7px;
    transition: background-color .3s; }
    .header_function li.account a {
      color: rgba(102, 102, 102, 0.85);
      letter-spacing: .02em;
      text-transform: uppercase;
      transition: all .2s;
      font-size: .9em;
      font-weight: 700; }
    .header_function li:last-child {
      margin-right: 0; }
  .header_divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    vertical-align: middle;
    position: relative;
    margin: 0 7.5px; }
  .header_cart {
    position: relative; }
    .header_cart_button a {
      background-color: #446084;
      border-width: 1px;
      color: #fff;
      display: inline-block;
      font-size: 1em;
      font-weight: bold;
      min-width: 2.5em;
      padding-left: .6em;
      padding-right: .6em; }
      .header_cart_button a:hover {
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
        color: #FFF; }
      .header_cart_button a .fa-shopping-basket {
        position: relative; }
        .header_cart_button a .fa-shopping-basket:after {
          background-color: #d26e4b;
          border-radius: 99px;
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
          color: #fff;
          content: attr(data-icon-label);
          font-family: Arial, Sans-serif;
          font-size: 11px;
          font-weight: bold;
          height: 17px;
          line-height: 17px;
          min-width: 17px;
          padding-left: 2px;
          padding-right: 2px;
          position: absolute;
          right: -10px;
          text-align: center;
          top: -10px;
          transition: transform .2s;
          z-index: 1; }
    .header_cart_item {
      background-color: #fff;
      border: 2px solid #ddd;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
      color: #777;
      width: 306px;
      opacity: 0;
      padding: 10px 0;
      position: absolute;
      right: 0;
      top: -99999px;
      transition: opacity .25s;
      z-index: 9; }
      .header_cart_item::after {
        border-color: transparent transparent #ffffff transparent;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        content: '';
        height: 0;
        position: absolute;
        right: 30%;
        top: -7px;
        width: 0; }
      .header_cart_item .message {
        text-align: center; }
      .header_cart_item .header_cart_item_widget {
        margin: 0 10px !important; }
      .header_cart_item .list_mini_cart .mini_cart_item {
        padding: 10px 40px 10px 70px;
        position: relative;
        overflow: hidden;
        line-height: 1.33; }
        .header_cart_item .list_mini_cart .mini_cart_item .remove {
          border-radius: 100%;
          border: 2px solid #CCC;
          color: #ccc;
          display: block;
          font-size: 15px;
          font-weight: bold;
          height: 24px;
          text-align: center;
          line-height: 19px;
          position: absolute;
          right: 0;
          width: 24px;
          z-index: 9; }
          .header_cart_item .list_mini_cart .mini_cart_item .remove:hover {
            color: #000;
            border-color: #000; }
        .header_cart_item .list_mini_cart .mini_cart_item .name {
          color: #334862;
          display: block;
          font-size: 16px;
          line-height: 1.3;
          margin-bottom: 5px; }
          .header_cart_item .list_mini_cart .mini_cart_item .name img {
            top: 10px;
            position: absolute;
            left: 0;
            width: 60px;
            height: 60px;
            margin-bottom: 5px;
            object-fit: cover;
            object-position: 50% 50%; }
        .header_cart_item .list_mini_cart .mini_cart_item .quantity {
          display: block;
          margin-top: 3px;
          font-size: .85em;
          margin-right: 1em; }
          .header_cart_item .list_mini_cart .mini_cart_item .quantity .amount {
            font-weight: bold; }
      .header_cart_item .mini_cart_total {
        border-bottom: 2px solid #ececec;
        border-top: 1px solid #ececec;
        font-size: 16px;
        margin-bottom: .5em;
        padding: 10px 0;
        text-align: center; }
        .header_cart_item .mini_cart_total .amount {
          color: #000;
          font-weight: bold; }
      .header_cart_item .mini_cart_button .btn {
        display: block;
        margin: 10px 0 0;
        color: #fff;
        background-color: #446084;
        border-color: rgba(0, 0, 0, 0.05);
        border-radius: 0;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .03em; }
        .header_cart_item .mini_cart_button .btn:hover {
          box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }
    .header_cart:hover .header_cart_item {
      opacity: 1;
      top: 100%; }

.footer_inner {
  background-color: #5b5b5b;
  padding: 10px 0 15px;
  font-size: .9em;
  color: rgba(255, 255, 255, 0.5); }

.footer .payment {
  padding: 7.5px 0;
  text-align: right; }

@media screen and (max-width: 849px) {
  .header_inner_wrap {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header_logo {
    width: auto;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
    margin: 0 15px; }
  .header_nav {
    display: none; }
  .header_function {
    -ms-flex-order: 3;
    order: 3; }
    .header_function .account,
    .header_function .header_divider {
      display: none; }
  .header .btn_mobile_nav i {
    font-size: 1.5em; }
  .header_cart_item {
    display: none; }
  .pc {
    display: none !important; }
  .sp {
    display: block !important; }
  .m_breadcrumb_inner {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .m_breadcrumb_inner nav, .m_breadcrumb_inner .m_switch__page {
      padding-top: 5px;
      padding-bottom: 5px; }
  .m_product__detail_img, .m_product__detail_info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .m_related .owl-carousel .owl-nav button.owl-prev, .m_related .owl-carousel .owl-nav button.owl-next {
    opacity: 1;
    visibility: visible; }
    .m_related .owl-carousel .owl-nav button.owl-prev:hover, .m_related .owl-carousel .owl-nav button.owl-next:hover {
      background-color: #446084;
      color: #FFF; }
  .m_related .owl-carousel .owl-nav button.owl-prev {
    left: 5px; }
  .m_related .owl-carousel .owl-nav button.owl-next {
    right: 5px; }
  .cart_items_list, .cart_items .cart_totals {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .cart_items_list .btn_proceed_checkout a, .cart_items .cart_totals .btn_proceed_checkout a {
      max-width: 100%; }
  .cart_items .product_name {
    min-width: 80px;
    padding: .5em !important; }
  .cart_items .product_remove {
    width: 0; }
    .cart_items .product_remove a {
      position: absolute;
      top: 10px;
      left: 0px;
      width: 24px;
      height: 24px;
      line-height: 18px;
      font-size: 18px; }
  .cart_items .product_subtotal {
    text-align: right; }
  .cart_body {
    margin-bottom: 0; }
  .cart_checkout_form, .cart_checkout_bill {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .footer .payment, .footer .copyright {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .m_btn_booknow {
    display: block; }
  .td_scroll_up {
    bottom: 65px;
    right: 10px; } }

@media screen and (max-width: 767px) {
  .product_item .product_image {
    height: 180px; }
    .product_item .product_image img {
      object-fit: contain; } }

@media screen and (min-width: 550px) {
  .shop_container .item {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; } }

@media screen and (max-width: 549px) {
  .shop_container .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .cart_items .product_price,
  .cart_items .product_subtotal {
    display: none; }
  .cart_items .product_quantity {
    text-align: right; }
  .cart_items .product_qty {
    justify-content: flex-end; }
    .cart_items .product_qty .control {
      margin-right: 0; }
  .cart_checkout ul li {
    display: none; }
    .cart_checkout ul li:first-child {
      display: block; } }

@media screen and (min-width: 850px) {
  .footer {
    padding-bottom: 0 !important; } }
