/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== URL ======================== */
/* ======================== RESET ======================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese");
* {
  padding: 0px;
  margin: 0px; }
  *:focus {
    outline: none; }

a {
  color: #334862;
  text-decoration: none;
  transition: all 0.25s; }
  a:hover {
    color: #000;
    text-decoration: none;
    transition: all 0.25s; }

button {
  transition: all 0.25s; }
  button:hover {
    transition: all 0.25s; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

select:focus, button:focus, input:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li,
ol li {
  list-style: none; }

p {
  margin: 0; }

h1 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h2 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h3 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h4 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h5 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

h6 {
  margin: 0px;
  padding: 0px;
  font-size: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  font-size: 100%;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clearfix {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* ======================== FONTS ======================== */
/* ======================== MIXIN ======================== */
/* ======================== FONTS ======================== */
.container {
  max-width: 1080px; }

#main {
  padding-top: 30px;
  padding-bottom: 30px; }

.product_item {
  padding-bottom: 19.6px; }
  .product_item .product_info {
    padding-top: .7em;
    padding-bottom: 1.4em;
    position: relative;
    width: 100%;
    font-size: .9em; }
    .product_item .product_info .product_name {
      line-height: 1.3;
      margin-top: .1em;
      margin-bottom: .1em; }
      .product_item .product_info .product_name a {
        display: inline-block;
        line-height: 1.3;
        margin-top: .1em;
        margin-bottom: .1em; }
    .product_item .product_info .product_price .price {
      display: block; }
      .product_item .product_info .product_price .price .amount {
        color: #111;
        font-weight: bold;
        white-space: nowrap; }
    .product_item .product_info .product_btn_add a {
      background-color: transparent;
      border: 2px solid currentColor;
      color: #446084;
      display: inline-block;
      font-size: .8em;
      font-weight: bolder;
      line-height: 2.19em;
      margin-top: 1em;
      padding: 0 1.2em;
      text-align: center;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s; }
      .product_item .product_info .product_btn_add a:hover {
        background-color: #446084;
        border-color: #446084;
        color: #fff; }

.price {
  line-height: 1; }

.m_pagination {
  margin: 5px 0; }
  .m_pagination .page-item {
    margin: 0 .4em; }
    .m_pagination .page-item:last-child {
      margin-right: 0; }
      .m_pagination .page-item:last-child .page-link {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%; }
    .m_pagination .page-item .page-link {
      color: #777;
      font-size: 15px;
      display: block;
      width: 33px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      padding: 0 7px;
      font-weight: bolder;
      border-radius: 100%;
      border: 2px solid #5b5b5b; }
      .m_pagination .page-item .page-link:hover {
        border-color: #446084;
        background-color: #446084;
        color: #FFF; }
    .m_pagination .page-item.active {
      color: #FFF; }
      .m_pagination .page-item.active .page-link {
        border-color: #446084;
        background-color: #446084;
        color: #FFF; }
    .m_pagination .page-item:first-child .page-link {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%; }

.icn_payment {
  display: inline-block;
  opacity: .6;
  transition: opacity .3s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 0;
  padding: 3px 5px 5px;
  margin: 3px 3px 0; }
  .icn_payment svg {
    vertical-align: middle;
    height: 20px;
    width: auto !important;
    fill: #FFF; }

.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid #777;
  background-color: transparent;
  border-radius: 100%;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .td-scroll-up i {
    color: #777;
    display: block;
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 7px; }
  .td-scroll-up:hover {
    background-color: #446084;
    border-color: #446084; }
    .td-scroll-up:hover i {
      color: #FFF; }

.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0); }

.m_breadcrumb .breadcrumb {
  background: transparent;
  padding: 0; }
  .m_breadcrumb .breadcrumb-item a {
    color: rgba(102, 102, 102, 0.7); }
    .m_breadcrumb .breadcrumb-item a:hover {
      color: #111; }

.product_gallery {
  position: relative; }
  .product_gallery .expand {
    border-radius: 100%;
    border: 2px solid #777;
    bottom: 10px;
    color: silver;
    display: block;
    left: 10px;
    line-height: 2.19em;
    margin-left: .12em;
    margin-right: .12em;
    min-width: 2.5em;
    position: absolute;
    text-align: center;
    z-index: 9999; }
    .product_gallery .expand i {
      font-size: 1.2em;
      position: relative;
      top: 2px; }
    .product_gallery .expand:hover {
      background-color: #446084;
      border-color: #446084; }
      .product_gallery .expand:hover i {
        color: #FFF; }

.product_info {
  padding-top: 10px; }
  .product_info .name {
    color: #555;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative; }
    .product_info .name:after {
      background-color: rgba(0, 0, 0, 0.1);
      content: '';
      display: block;
      height: 3px;
      width: 30px;
      position: absolute;
      bottom: 0; }
  .product_info .price {
    color: #111;
    font-size: 1.5em;
    font-weight: bold;
    font-weight: bolder;
    margin: .5em 0;
    white-space: nowrap; }
    .product_info .price .currencySymbol {
      display: inline-block;
      font-size: .75em;
      margin-top: .05em;
      vertical-align: top;
      text-decoration: underline; }
  .product_info .formCart {
    display: flex;
    align-items: center; }
  .product_info .control {
    display: flex;
    align-items: center;
    position: relative; }
    .product_info .control input {
      border: 1px solid #e1e1e1;
      font-weight: bold;
      height: 40px;
      width: 2.5em;
      font-weight: normal;
      text-align: center;
      border-right: none;
      border-left: none;
      -moz-appearance: textfield; }
      .product_info .control input::-webkit-outer-spin-button, .product_info .control input::-webkit-inner-spin-button {
        -webkit-appearance: none; }
    .product_info .control .qty-inc, .product_info .control .qty-dec {
      border: 1px solid #e1e1e1;
      height: 40px;
      line-height: 40px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 21px; }
      .product_info .control .qty-inc i, .product_info .control .qty-dec i {
        color: #666;
        font-size: .97em;
        font-weight: normal; }

/* ======================== HEADER ======================== */
.header {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color .3s, opacity .3s; }
  .header_inner {
    z-index: 10;
    position: relative; }
    .header_inner_border {
      border-bottom: 1px solid rgba(68, 96, 132, 0.1);
      margin-bottom: -1px; }
  .header_logo {
    width: 200px;
    margin-right: 30px; }
    .header_logo img {
      max-height: 100px; }
  .header_nav {
    margin-right: auto;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto; }
    .header_nav_main {
      width: 100%;
      position: relative;
      display: inline-block;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .header_nav_main li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        margin: 0 7px;
        transition: background-color .3s; }
        .header_nav_main li:first-child {
          margin-left: 0 !important; }
        .header_nav_main li a {
          -ms-flex-align: center;
          -ms-flex-wrap: wrap;
          align-items: center;
          color: rgba(102, 102, 102, 0.85);
          display: -ms-inline-flexbox;
          display: inline-block;
          display: inline-flex;
          flex-wrap: wrap;
          font-size: .8em;
          font-weight: 700;
          font-weight: bolder;
          letter-spacing: .02em;
          padding: 10px 0;
          text-transform: uppercase;
          transition: all .2s; }
        .header_nav_main li:hover a, .header_nav_main li.active a {
          color: rgba(17, 17, 17, 0.85); }
  .header_function {
    margin-left: auto; }
    .header_function_inner {
      position: relative;
      display: inline-block;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-align: center;
      align-items: center; }
    .header_function li {
      position: relative;
      margin: 0 7px;
      transition: background-color .3s; }
      .header_function li.account a {
        color: rgba(102, 102, 102, 0.85);
        letter-spacing: .02em;
        text-transform: uppercase;
        transition: all .2s;
        font-size: .8em;
        font-weight: 700; }
  .header_divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    vertical-align: middle;
    position: relative;
    margin: 0 7.5px; }
  .header_cart_button a {
    background-color: #446084;
    border-width: 1px;
    color: #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    margin-left: .12em;
    margin-right: .12em;
    min-width: 2.5em;
    padding-left: .6em;
    padding-right: .6em; }
    .header_cart_button a:hover {
      box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
      color: #FFF; }
  .header_cart_item {
    position: absolute;
    min-width: 260px;
    max-height: 0;
    z-index: 9;
    padding: 20px 0 20px;
    opacity: 1;
    margin: 0;
    transition: opacity .25s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid #ddd;
    color: #777;
    background-color: #fff;
    text-align: left;
    display: table;
    left: -99999px; }

/* ======================== Page ======================== */
/* ======================== FOOTER ======================== */
footer {
  background-color: #5b5b5b;
  padding: 10px 0 15px;
  font-size: .9em;
  color: rgba(255, 255, 255, 0.5); }
  footer .payment {
    padding: 7.5px 0; }
